<p>home-page works !</p>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col">
      <h2>Acceuil</h2>
      <div>
        SCRUMBAN est une application web qui vous permettra de développer vos
        projets suivant les principes des méthodes "SCRUM" et "KANBAN".<br />
        Elle vous propose un environnement de gestion mixte suivant ces deux
        méthodologies agiles. <br />
        Créez votre compte ; créez un nouveau Projet ; invitez l'ensemble de vos
        colaborateurs à y participer et profitez des fonctionnalités mise à
        votre disposition pour suivre l'avancement de votre travail.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-success" (click)="onLogIn()">Log-In</button>
    </div>
    <div class="col">
      <button class="btn btn-primary" (click)="onSignIn()">Sign-In</button>
    </div>
  </div>
</div>
