<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Projet</th>
                <th scope="col">Participants</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let project of projects" >
                <th scope="row" >{{ project.id }}</th>
                <td><a class="nav-link" href="#">{{ project.name }}</a></td>
                <td>
                    <ul class="list-group" *ngFor = "let participant of project.participants ">
                    <li class="list-group-item">{{ participant}}</li>
                    </ul>
                </td>
            
            </tr>
            
        </tbody>
    </table>
</div>