<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h4>{{title}}</h4>
                </div>
                <div class="col">
                    <select class="form-select" size="3">

                    </select>
                    <button class="btn btn-primary">Ajouter</button>
                    <button class="btn btn-danger">Supprimer</button>
                </div>
                <div class="col">
                    <h4>info</h4>
                </div>
            </div>
            <div class="row">
                <div id='sprints' class="col-2">
                    <app-sprints-list></app-sprints-list>
                </div>
                <div class="col-2">
                    <app-product-backlog></app-product-backlog>
                    <button class="btn btn-primary" (click)='onNewTask()'>Ajouter</button>
                    <button class="btn btn-danger">Supprimer</button>
                </div>
                <div class="col-8">
                    <app-kanban-board></app-kanban-board>
                </div>
            </div>
        </div>
    </div>
</div>