<button class="btn btn-primary" (click)="onBackToProject()">
    <i class="fas fa-arrow-left"></i>
  </button>
<h2>Nouveau Sprint</h2>
<div class="card">
    <div class="card-body">
        <div class="row">
            <form method="post" #f="ngForm">
                <div class="form-group col-md-6 mb-3">
                    <label for="SprintName">Nom du sprint</label>
                    <input type="text" id="SprintName" class="form-control" name="SprintName" ngModel text required>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col">
                <app-product-backlog [idProject]="projectId"></app-product-backlog>
                <button (click)="onAdd()" class="btn btn-primary">Ajouter</button>
            </div>
            <div class="col">
                <h4>Tâches du sprint</h4>
                <select class="form-select" size="25">
                    <option *ngFor="let t of tasksNames" value="t">{{t}}</option>
                </select>
                <button class="btn btn-danger">Supprimer</button>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <button class="btn btn-primary" type="text" [disabled]="f.invalid" (click)="onNewSprint(f)">Créer</button>
            </div>
        </div>
    </div>
</div>