<p>registration-page works!</p>
<form action="">
  <div class="name-container">
  <label for="name">Name</label>
    <input type="text" autocomplete="off" id="name">
    <span></span>
  </div>

  <div class="first-name-container">
    <label for="first-name">First Name</label>
    <input type="text" autocomplete="off" id="first-name">
    <span></span>
  </div>

  <div class="pseudo-container">
    <label for="pseudo">Pseudo</label>
    <input type="text" autocomplete="off" id="pseudo">
    <span></span>
  </div>

  <div class="email-container">
    <label for="email">Email</label>
    <input type="text" autocomplete="off" id="email">
    <span>Email incorrect</span>
  </div>

  <div class="password-container">
    <label for="password">Password</label>
    <input type="password" autocomplete="off" id="password">
    <p id="progress-bar"></p>
    <span></span>
  </div>

  <div class="confirm-container">
    <label for="confirm">Confirmed password</label>
    <input type="password" autocomplete="off" id="confirm">
    <span></span>
  </div>

  <input type="submit" value="Validate">

</form>
