<p>register-page works!</p>
<div class="card">
  <div class="card-header text-white bg-info">S'enregistrer</div>
  <div class="card-body">
    <form  method="post" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group">
        <div class="col-md-6 mb-3">
          <label>Nom</label>
          <input type="text" class="form-control" name='lastname' placeholder="Nom" ngModel />

        </div>
        <div class="col-md-6 mb-3">
          <label>Prenom</label>
          <input type="text" class="form-control" name='firstname'placeholder="Prenom" ngModel/>
        </div>
      </div>


      <div class="form-group">
        <div class="col-md-6 mb-3">
          <label>E-Mail</label>
          <input type="email" class="form-control" name='email' placeholder="E-Mail" ngModel email/>
        </div>
        <!--
        <div class="col-md-6 mb-3">
          <label for="confirmEmailId">Confirmer l'E-Mail</label>
          <input
            type="email"
            class="form-control"
            id="confirmEmailId"
            placeholder="Confirmer l'email(requis)"
            formControlName="confirmEmail"
            [ngClass]="{
              'is-invalid':
                registerForm.get('emailGroup').errors ||
                ((registerForm.get('emailGroup.confirmEmail').touched ||
                  registerForm.get('emailGroup.confirmEmail').dirty) &&
                  !registerForm.get('emailGroup.confirmEmail').valid)
            }"
          />
          <div class="invalid-feedback">
            <span
              *ngIf="
                registerForm.get('emailGroup.confirmEmail').errors?.required
              "
            >
              merci d'entrer votre E-mail
            </span>
            <span *ngIf="registerForm.get('emailGroup').errors?.match">
              L'E-mail ne correspond pas
            </span>
          </div>
        </div>

      -->
      </div>
      <div class="form-group mb-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" name='password' id="password" placeholder="Password"  ngModel required>
      </div>
    
        <!--

      <div class="form-row mb-3">
        
      </div>

      -->

        <div class="text-right">
          <button class="btn btn-info" type="submit" [disabled]="form.invalid">
            Sauvegarder
          </button>
        </div>
    </form>
  </div>
</div>